.question {
    text-align: center;
}

.container {
    height: 75vh;
}

.mat-raised-button {
    margin-bottom: 10px;
}

.wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}