<div class="container">
    <div *ngIf="(currentPoll | async) as poll" class="question">
        <h1> {{poll?.text}} </h1>
        <h3> I vote for </h3>
        <div *ngFor="let option of poll.options">
            <button ngDefaultControl name="selected" [(ngModel)]="vote.selected" mat-raised-button color="accent" (click)="vote.selected = option"> {{option}} </button>
        </div>
        <button mat-button color="primary" (click)="vote.other = true"> Other </button>

        <mat-form-field *ngIf="vote.other">
            <input matInput #newOption [(ngModel)]="vote.custom" placeholder="Custom option" (keyup.enter)="vote.selected = newOption.value" (blur)="vote.selected = newOption.value" />
        </mat-form-field>
        <div *ngIf="vote.selected"> You voted for {{vote.selected}} </div>
    </div>
</div>