<div class="container">
    <h1> Created Polls </h1>

    <div class="cards">
        <mat-card class="poll-card" *ngFor="let poll of createdPolls">
            <div><i (click)="deletePoll(poll._id)" class="fa fa-close deleteVote"></i> </div>
            <mat-card-header>
                <mat-card-title class="card-header">
                    <a [routerLink]="['/pollDetails' , poll._id]">  {{poll.text}} </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-footer class="card-footer">
                <div>
                    <div>
                        Votes:
                    </div>
                    <div>
                        {{poll.votes.length}}
                    </div>
                </div>
                <div> {{poll.updatedAt | date: " MMM dd, y, hh:mm"}} </div>
            </mat-card-footer>
        </mat-card>
    </div>

    <h1> Voted on Polls </h1>
    <div class="cards">
        <mat-card class="poll-card" *ngFor="let poll of votedPolls">
            <mat-card-header>
                <mat-card-title class="card-header">
                    <a [routerLink]="['/pollDetails' , poll._id]">  {{poll.text}} </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-footer class="card-footer">
                <div>
                    <div>
                        Votes:
                    </div>
                    <div>
                        {{poll.votes.length}}
                    </div>
                </div>
                <div> {{poll.updatedAt | date: " MMM dd, y, hh:mm"}} </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>