<div class="container">

    <div *ngIf="polls; else nodata" class="cards">
        <mat-card class="poll-card" *ngFor="let poll of polls">
            <mat-card-header>
                <mat-card-title class="card-header">
                    <a [routerLink]="['/pollDetails' , poll._id]">  {{poll.text}} </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-footer class="card-footer">
                <div>
                    <div>
                        Votes:
                    </div>
                    <div>
                        {{poll.votes.length}}
                    </div>
                </div>
                <div> {{poll.updatedAt | date: " MMM dd, y, hh:mm"}} </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <ng-template #nodata>
        <div class="message"> No poll has been created yet. Log in and be the first to create one.
        </div>
    </ng-template>
</div>